$text-colors: (
    color-primary: #ffffff,
    color-accent: #26a69a,
);

$bg-color: (
    bg-primary: #212529,
    bg-primary-hover: #25292c,

    bg-secondary:  #ffffff,
);

$borders: (
    contour-primary: #37474f,
    contour-secondary: #575f66,
    dividing-line: #595c5f,
);

$outlines: (
    outline-focus-primary: #1c385e,
);

$svg-colors: (
    color-primary: #90a4ae,
    color-hover-primary: #607d8b,
    color-accent: #26a69a,
);