@use "sass:map";
@use "../../abstracts/variables" as vars;
@use "../../abstracts/mixins" as mix;

.colorOutputConsole {
    @include mix.display-flex(space-between, center);
    height: 45px;

    border: 1px solid #6c757d;
    border-radius: .3rem;

    margin-top: 1rem;
    padding: .5rem;

    .colorType {
        font-size: 1rem;
        user-select: none;
    }

    .contentCopySvg {
        fill: map.get(vars.$svg-colors, color-primary);

        &:hover {
            fill: map.get(vars.$svg-colors, color-hover-primary);
        }
    }
}